
<div class="container my-5 pt-5">
    <a href="/">Sign-in</a>
    <h1 class="text-success text-center">Registration Page </h1>
    <p id="presponse" class="alert alert-dark text-center h4"><% if(locals.msg){ %>
        <%= msg%>
        <% } %></p>
    <div class="row mt-5 py-5 " id="welcome">
        <div class="col-sm-5">
            <form action="/Sign-up" method="post" id="login-form">
                <input class="form-control mt-4" id="Email" name="Email" placeholder="Email" type="text" value="" />
                <input class="form-control mt-4" id="Password" name="Password" placeholder="Password" type="password" />
                <button type="submit" class=" btn btn-success btn-block my-4">sign-up</button>
            </form>
            
        </div>

    </div>
</div>


